@{
    ViewBag.Title = "About My Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este es un proyecto final de DCU, Creado por Fidel Geronimo, es creado para demostrar la utilidad de una "to do list" en la vida diaria. Me guie de las heuristicas correspondientes</p>
